body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: cornsilk;
}

main {
  flex: 1 0 auto;
}

h1 {
  color: cornflowerblue;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.nav-wrapper, .page-footer {
    background-color: cornflowerblue;
  }

  
  